@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Something went wrong</h2>
    <h4>It's not you, it's us...</h4>
    <div class="quotedanger"></div>
    <div class="quote1danger"></div>
    <div class="quote2danger"></div>
</div>


<button style="float:right;" data-toggle="tooltip" title="Go to Login" type="button" class="btn" onclick="location.href='@Url.Action("Login", "Account")'">Return</button>

