
@{
    ViewBag.Title = "EventType";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}
@{
    ViewBag.Title = "EventType";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h2>Event Type Selection</h2>
</div>
<h4>Please select an Event Type</h4>
<hr />

<div class="row" style="justify-content:center;">
    <button type="button" class="btn" onclick="location.href='@Url.Action("Create", "FunctionEvents")'">Function Event</button>

    <button type="button" class="btn" onclick="location.href='@Url.Action("Create", "ComEngEvents")'">Community Engagement Event</button>

    <button type="button" class="btn" onclick="location.href='@Url.Action("Create", "Lectures")'">Lecture Event</button>
</div>



