
@{
    ViewBag.Title = "EventType";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}
@{
    ViewBag.Title = "EventType";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h2>Event Type Selection</h2>
</div>
<h4>Please select an Event Type</h4>
<hr />

<div class="row" style="margin:auto;">
    <button type="button" class="btn" onclick="location.href='@Url.Action("Create", "FunctionEvents")'">Function Event</button>

    <button type="button" class="btn" onclick="location.href='@Url.Action("Create", "ComEngEvents")'">Community Engagement Event</button>

    <button type="button" class="btn" onclick="location.href='@Url.Action("Create", "Lectures")'">Lecture Event</button>
</div>

<div class="form-inline" style="float:right; margin-bottom:20px; margin-top:10px;">
    <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "TRWLASchedules")'">Return</button>
</div>
