@model IEnumerable<TRWLASystemMaster.Models.AttendanceViewModel>

@{
    ViewBag.Title = "FunctionAttendance";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

@using (Html.BeginForm("ExportToExcel1", "TRWLASchedules", FormMethod.Post))
{
    <div class="jumbotron">
        <h2>Function Attendance Report</h2>
    </div>

<table class="table">
    <tr>
        <th>
            Name of Event
        </th>
        <th>
            Date of Event
        </th>
        <th>
            Student Attendee
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Name)
            </td>
        </tr>
    }
    <tr>
        <td colspan="4">
            <br />
            <br />
            <input type="submit" value="Export to Excel" class="btn" style="float:right;"/>
        </td>
    </tr>  
</table>
}

<div class="form-group">
    <div style="margin-right:5px; float:right;">
        <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "TRWLASchedules")'">Return</button>
    </div>
</div>