@model IEnumerable<TRWLASystemMaster.Models.DB.EventMessage>


@{
    ViewBag.Title = "ViewNotification";
    Layout = "~/Views/Shared/StudentLoggedInView.cshtml";
}

<div class="jumbotron" style="margin-bottom:150px;">
    <h1>Notifications</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>

<div class="col-md-12" style="margin-bottom:10px; height:500px; overflow-y:auto;">
    @foreach (var item in Model.OrderBy(p => p.TimeMes))
    {
        <div class="col-md-12" style="margin-bottom:5px; margin-top:5px; margin-right: 5px; margin-left:5px; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);">
            <dl>
                <dt>@Html.Label("Message:")</dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.Msg)
                </dd>
            </dl>
        </div>
    }
</div>

<button type="button" style="float:right;" class="btn" onclick="location.href='@Url.Action("StudentMainMenu", "TRWLASchedules", new { id = 1 })'"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
