@{
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">

    <h1>Register & Deregister Admin</h1>
</div>


<table class="table">
    <tr>
        <th>
            Number
        </th>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
           Admin Status
        </th>
        <th>
           Register/Deregister
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            <!-- Record # 1 -->
            1
        </td>
        <td>
            Caira
        </td>
        <td>
            Milkbottom
        </td>
        <td>
            <span class="badge badge-success">Active</span>
        </td>
        <td>
            <input type="checkbox" name="checkbox" class="bootstrap-switch"
                   data-on-label="On"
                   data-off-label="Off" />
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 2 -->
            2
        </td>
        <td>
            Tinyko
        </td>
        <td>
            Vilakazi
        </td>
        <td>
            <span class="badge badge-danger">Inactive</span>
        </td>
        <td>
            <input type="checkbox" name="checkbox" class="bootstrap-switch"
                   data-on-label="On"
                   data-off-label="Off" />
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 3 -->
            3
        </td>
        <td>
            Cailn
        </td>
        <td>
            Van Rensburg
        </td>
        <td>
            <span class="badge badge-success">Active</span>
        </td>
        <td>
            <input type="checkbox" name="checkbox" class="bootstrap-switch"
                   data-on-label="On"
                   data-off-label="Off" />
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 4 -->
            4
        </td>
        <td>
            Simphwe
        </td>
        <td>
            Mholbo
        </td>
        <td>
            <span class="badge badge-danger">Inactive</span>
        </td>
        <td>
            <input type="checkbox" name="checkbox" class="bootstrap-switch"
                   data-on-label="On"
                   data-off-label="Off" />
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 5 -->
            5
        </td>
        <td>
           Achal
        </td>
        <td>
            Signh
        </td>
        <td>
            <span class="badge badge-danger">Inactive</span>
        </td>
        <td>
            <input type="checkbox" name="checkbox" class="bootstrap-switch"
                   data-on-label="On"
                   data-off-label="Off" />
        </td>
    </tr>



    </table>


