@model TRWLASystemMaster.Models.StudentType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StudentType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTypeDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
