@{
    Layout = "~/Views/Shared/StudentLoggedInView.cshtml";
}


<div class="jumbotron">
    <h2>My Profile</h2>
</div>


<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <lable class="control-label col-md-2">Name</lable>
        <div class="col-md-10">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable class="control-label col-md-2"> Surname</lable>
        <div class="col-md-10">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable class="control-label col-md-2">Phone Number</lable>
        <div class="col-md-10">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable class="control-label col-md-2">Email Address</lable>
        <div class="col-md-10">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable class="control-label col-md-2">Date of Birth</lable>
      
        <div class="col-md-10">
            <input type="text" class="form-control date-picker" value="10/05/2016" data-datepicker-color="" />
        </div>
    </div>


    <div class="form-group">
        <lable class="control-label col-md-2">Student Type</lable>
        <div class="col-md-10">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable class="control-label col-md-2">Residence</lable>
        <div class="col-md-10">
            <input type="text" value="NERINA" placeholder="Regular" class="form-control" />
        </div>
    </div>
    </div>

    @* For delete make a button and a modal to do it *@

    <div class="form-inline" style="float:right">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-round" data-toggle="modal" data-target="#myModal1" style="color:#9b16d8;" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Return", "Index", "VenueTypes", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Save Changes</h4>
                </div>
                <div class="modal-body">
                    Are you sure you would like to update your account?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-simple" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Confirm</button>
                    <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Success!</h4>
                </div>
                <div class="modal-body">
                    You have successfuly updated your profile.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Confirm</button>


                </div>
            </div>
        </div>
    </div>
