@{
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}


<h1>Register & Deregister Admin</h1>

<hr>
<center>
    <button class="btn">Generate Report</button>
   
</center>
<hr>
<table class="table">
    <tr>
        <th>
            Number
        </th>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Progress Status
        </th>
        <th>
            Progress
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            <!-- Record # 1 -->
            1
        </td>
        <td>
            Caira
        </td>
        <td>
            Milkbottom
        </td>
        <td>
            <span class="badge badge-success">Progressing</span>
        </td>
        <td>
        57%
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 2 -->
            2
        </td>
        <td>
            Tinyko
        </td>
        <td>
            Vilakazi
        </td>
        <td>
            <span class="badge badge-danger">No Progress</span>
        </td>
        <td>
            33%
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 3 -->
            3
        </td>
        <td>
            Cailn
        </td>
        <td>
            Van Rensburg
        </td>
        <td>
            <span class="badge badge-success">Progressing</span>
        </td>
        <td>
          65%
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 4 -->
            4
        </td>
        <td>
            Simphwe
        </td>
        <td>
            Mholbo
        </td>
        <td>
            <span class="badge badge-danger">No Progress</span>
        </td>
        <td>
         12%
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 5 -->
            5
        </td>
        <td>
            Achal
        </td>
        <td>
            Signh
        </td>
        <td>
            <span class="badge badge-danger">No Progress</span>
        </td>
        <td>
         45%
        </td>
    </tr>



</table>


