@{
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<hr>
<h1>Student Progress Report</h1>

<hr>
<center>
    <button class="btn">Generate Report</button>
   
</center>
<hr>
<table class="table">
    <tr>
        <th>
            Student Number
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Progress Status
        </th>
        <th>
            Progress
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            <!-- Record # 1 -->
            17355612
        </td>
        <td>
            Caira
        </td>
        <td>
            Milkbottom
        </td>
        <td>
            <span class="badge badge-success">Progressing</span>
        </td>
        <td>
        57%
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 2 -->
            14992949
        </td>
        <td>
            Tinyko
        </td>
        <td>
            Vilakazi
        </td>
        <td>
            <span class="badge badge-danger">No Progress</span>
        </td>
        <td>
            33%
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 3 -->
            15511549
        </td>
        <td>
            Cailn
        </td>
        <td>
            Van Rensburg
        </td>
        <td>
            <span class="badge badge-success">Progressing</span>
        </td>
        <td>
          65%
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 4 -->
            14935058
        </td>
        <td>
            Simphwe
        </td>
        <td>
            Mholbo
        </td>
        <td>
            <span class="badge badge-danger">No Progress</span>
        </td>
        <td>
         12%
        </td>
    </tr>

    <tr>
        <td>
            <!-- Record # 5 -->
            16938416
        </td>
        <td>
            Achal
        </td>
        <td>
            Signh
        </td>
        <td>
            <span class="badge badge-danger">No Progress</span>
        </td>
        <td>
         45%
        </td>
    </tr>



</table>


