@{
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<hr>

<h1>Function Attendence Report</h1>


<center>
    <button class="btn">Generate Report</button>
    <hr>

    <div id="chart_div" style="width:800; height:800"></div>
</center>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
          ['City', 'Class of 2017', ],
          ['Who Am I',48],
          ['Destiny Building', 69],
          ['Gender Bias', 142],
          ['Be A Better You', 45],
          ['How to Get Hired', 50]
        ]);

        var options = {
            title: 'Function Attendace of Registered TWRLA Members',
            chartArea: { width: '50%' },
            hAxis: {
                title: 'Number of Students',
                minValue: 0
            },
            vAxis: {
                title: 'Function Events'
            }
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>
