@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <div class="quotehome"></div>
    <div class="quote1home"></div>
    <div class="quote2home"></div>
</div>

<div class="row">
    <div class="col-md-3" style="margin-left:100px;">
        <h3>About TRWLA</h3>
        <p>
            The TRWLA is a non-profit organisation based in the University of Pretoria. The aim of the TRWLA is to equip young women in university with the life, business and leadership skills in order to thrive as female leaders in their communities.<br><br>
            All women in first and second year of res are invited to participate in the TRWLA's year long leadership course, free of charge. The TRWLA is open to all female residences(including day houses) at the University of Pretoria.
        </p>
    </div>

    <div class="col-md-4">
        <img src="..\Image\logo.png" id="TRWLAImage" style="width:400px; height:400px;" />
    </div>
    <div class="col-md-3" style="z-index:100; position:relative; background-color:transparent;">
        <h3 style="position:relative; background-color:transparent;">TRWLA Requirements</h3>
        <p style="background-color:transparent;">
            There are no requirements to apply for the TRWLA, but in order to graduate from the TRWLA students must:
        </p>
        <ul style="z-index:100; position:relative;background-color:transparent;">
            <li>Attend 5 out of 6 content lessons.</li>
            <li>Attend one community service event.</li>
            <li>Attend the Gender Based Violence workshop.</li>
            <li>Attend at least 2 OTHER events/workshop (Excluding GBV workshop).</li>
        </ul>
        <center>
            <i class="fa fa-graduation-cap static-icon" aria-hidden="true"></i>
        </center>
        <p>
            At the end of the academic year, all students that have completed the course are celebrated at the TRWLA awards ceremony and graduation, and are awarded a certificate of completion.
        </p>
    </div>
</div>