
@{
    ViewBag.Title = "CommServe";
}

<div class="jumbotron">
<h1>Community Service</h1>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Background</h2>
        <p style="text-align:justify">
            Community engagement is encouraged in order to instill servant-hearted leadership. 5 days are organized throughout the year in partnership with Pretoria Technikon School, Tshwane secondary school and Louis Botha children’s home. Grade 11 and 12 female learners visited onece a month by academy students, who teach them the skills they have learnt, provide information on tertiary study and funding and develop mentor-mentee relationships.<br><br>
            According to the Women in Leadership Census undertaken by the Businesswomen’s Association in 2012, women make up 52% of the South African population but account for just 3.6% of CEO positions, 5.5% of chairperson positions, 17.1% of directorships and 21.4% of executive management positions. From this survey it is evident that there is a need for the current status quo to be changed, for more women to pursue higher levels of education, for more opportunities to be created for women and for societal structures regarding the roles of men and women to be changed in our country. <br><br>
            The University of Pretoria lies in close range of a number of underprivileged government schools in the city. Many of these schools foster young women who are full of leadership potential, but who do not receive the necessary cultivation and development of such skills. These young women often struggle to complete their schooling up to and including matric level and are either unable to qualify for university, fund university fees or find other work to make a success of their futures. Coming from backgrounds of low socio-economic status, opportunities for their futures are limited and these limitations are exacerbated by a lack of motivation as a result.<br><br>
            In a male dominated African culture, many of these women are pacified and they are not encouraged to lead in any capacity. They are not challenged to pursue tertiary education and aim for managerial positions in the business world.<br><br>
            This community engagement project therefore targets young women from grades 11-12 in local, underprivileged schools in Pretoria – aiming to develop leadership skills and ambitious attitudes that will encourage an increase in the number and quality of female leaders in our country. As our country strives towards gender equality, the emerging need for strong females leaders is evident.<br><br>
            The need for a project such as this was demonstrated by the overwhelming response and voluntary enrollment of first year residence women in the TRWLA in its first year of implementation in 2015. This stressed the need for such skills and knowledge to be developed not only at university level but also pre-university levels.<br><br>
            In order to graduate from TRWLA, students must attend <span style="font-weight:bold">AT LEAST</span> one community service event.
</p>
        <h2>Project Goal</h2>
        <p style="text-align:justify">
            To empower and develop leadership qualities and attitudes within the TRWLA participants as well as adolescent females in local underprivileged schools – encouraging and improving female leadership in our country as a result.
        </p>
        <h2>Project Objectives</h2>
        <ul>
            <li>Emphasize the importance of servant leadership within a holistic approach to the leadership program.</li>
            <li>To instill hearts of humility and selflessness in the ladies of our academy.</li>
            <li>To allow ladies in the academy to exercise their newly gained knowledge and skills from the program and solidify their own learning through teaching.</li>
            <li>To equip and mobilize women to initiate their own community outreach programs.</li>
            <li>To empower younger female adolescents in leadership development, basic life skills and post- schooling opportunity awareness.</li>
            <li>To lay a solid leadership foundation in our underprivileged female adolescents to promote good decision making, skills and motivation to achieve brighter futures.</li>
            <li>To develop a sustainable program with strong, positive relations with the schools involved.</li>
        </ul>
        <br>
        <address>
            <strong><i class="fa fa-envelope-o fa-1x" style="color:violet"></i> For more information about TRWLA community service contact:</strong>   <a href="mailto:service@trwla.co.za">service@trwla.co.za</a>
        </address>
</div>
</div>