@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">

    <h1>@ViewBag.Title.</h1>
</div>

<address>
    Duxbury Palace<br />
    Elandspoort 357-Jr, Pretoria, 0002<br />
</address>
<address>
    <strong>Email:</strong>   <a href="mailto:office@trwla.co.za">office@trwla.co.za</a>
</address>