@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron" style="margin-bottom:100px;">

    <h1>@ViewBag.Title.</h1>
    <div class="quote"></div>
    <div class="quote1"></div>
    <div class="quote2"></div>
</div>

<address>
    Duxbury Palace<br />
    Elandspoort 357-Jr, Pretoria, 0002<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:office@trwla.co.za">office@trwla.co.za</a>
</address>