
@{
    ViewBag.Title = "Gallery";
}

<div class="jumbotron">
    <h1>Gallery</h1>
</div>

@* we can make use of a foreach loop like on the normal home page of a MVC app with 
    entity framework for every image 
inside of the server *@
<div class="gallery cf">

    <div>
        <img src="../Images/girls.jpg" />
    </div>
    <div>
        <img src="../Images/train.jpg" />
    </div>
    <div>
        <img src="../Images/boniwe.jpg" />
    </div>
</div>


