@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TuksRes Women in Leadership Academy</h1>
</div>
<div class=row>
    <center>
        <img src="..\Images\logo.png" id="TRWLAImage" style="width:400px; height:400px;" />
    </center>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Background</h2>
        <p style="text-align:justify">
            The TRWLA was founded by University of Pretoria (UP) student, Cyan Brown in 2015.
            The aim of the academy is to equip first and second year residence and day house female students at UP with life, business and leadership skills in order to foster an environment that allows young female leaders to prosper.<br><br>
            Our society has made large strides towards greater gender equality, however much still needs to be done in order to achieve gender parity. According to the McKinsey Global insights (MGI) report of September 2015, Sub Saharan Africa scored just 0.57 on it’s gender parity score, demonstrating an urgent need to advocate for greater gender equality both in the workplace and society. Whilst we recognize that this issue has many layers, one of the aspects that have not shown much progress is that of women in senior leadership positions. It is estimated that the global ratio of female to male in leadership positions is 0.356 according to MGI, thus this academy was established to produce young women capable of changing that statistic for the better.<br><br>
            At the core of the academy are three components: <span style="font-weight:bold">service</span>, <span style="font-weight:bold">relationships</span> and <span style="font-weight:bold">skills</span>.<br><br>
    We believe in encouraging students to invest meaningfully in community service to give back to our surroundings and invest in South Africa as well as develop a service driven leadership style.
    The academy highly values relationships. The culture of cultivating positive relationships in all dimensions is evident throughout the academy. Peer –learning, mentorship, emotional intelligence and teamwork are all integrated into the functioning of the academy at all levels. We aim to provide a powerful network that can be used as a platform for young women to benefit from.
    In order for young female leaders to succeed professionally as well as challenge the status quo and try and achieve greater gender equality in their communities, we believe in equipping them with as many skills as possible. These focus on three aspects: business, life, and leadership skills.
</p>
    </div>
</div>

<!-- Floating Social Media bar Ends -->
@*<div class="footer">
        <a href="https://facebook.com" data-toggle="tooltip" title="Facebook" class="icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
        <a href="https://twitter.com/minimalmonkey" data-toggle="tooltip" title="Twitter" class="icon-button twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>
        <a href="https://instagram" data-toggle="tooltip" title="Instagram" class="icon-button google-plus"><i class="fa fa-instagram" aria-hidden="true"></i><span></span></a>
        <a href="https://tuksreswomeninleadershipacademy.wordpress.com/" data-toggle="tooltip" title="TWRLA Blog" class="icon-button blog"><i class="fa fa-book" aria-hidden="true"></i><span></span></a>
        <a href="https://tuksreswomeninleadershipacademy.wordpress.com/" data-toggle="tooltip" title="Donations" class="icon-button donation"><i class="fa fa-usd" aria-hidden="true"></i><span></span></a>
    </div>*@
<!-- Floating Social Media bar Starts -->
@*<div>
        <div class="float-fb">
            <a href="https://facebook.com" data-toggle="tooltip" title="Facebook" class="icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
        </div>
        <div class="float-tw">
            <a href="https://twitter.com/minimalmonkey" data-toggle="tooltip" title="Twitter" class="icon-button twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>
        </div>
        <div class="float-gp">
            <a href="https://instagram" data-toggle="tooltip" title="Instagram" class="icon-button google-plus"><i class="fa fa-instagram" aria-hidden="true"></i><span></span></a>
        </div>
        <div class="float-rs">
            <a href="https://tuksreswomeninleadershipacademy.wordpress.com/" data-toggle="tooltip" title="TWRLA Blog" class="icon-button blog"><i class="fa fa-book" aria-hidden="true"></i><span></span></a>
        </div>
        <div class="float-pn">
            <a href="https://tuksreswomeninleadershipacademy.wordpress.com/" data-toggle="tooltip" title="Donations" class="icon-button donation"><i class="fa fa-usd" aria-hidden="true"></i><span></span></a>
        </div>
    </div>*@

<script src="https://use.fontawesome.com/dead28a296.js"></script>


@*@Html.ActionLink("Log In", "LoggedIn", "Home")*@
<script src="https://use.fontawesome.com/dead28a296.js"></script>