@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>TuksRes Women in Leadership Academy</h1>
    </div>

<div class="row">
    <div class="col-md-8">
        <h2>Background</h2>
        <p style="text-align:justify">
            The TuksRes Woman in Leadership Academy is a non-profit organisation based on campus of the University of Pretoria
            which aims to equip young woman with the personal, proffesional and leadership skills neccessary to thrive
            in their respective aspirations.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis condimentum purus, nec commodo nisi. Proin consectetur, dui id facilisis vehicula, lorem ante convallis arcu, quis consequat eros ipsum ac ex. Donec volutpat ut augue a molestie. Nam porttitor dictum accumsan.
        </p>
        <h2>3 Core Pillars</h2>
        <dl>
            <dt>Service</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis condimentum purus, nec commodo nisi. Proin consectetur, dui id facilisis vehicula, lorem ante convallis arcu, quis consequat eros ipsum ac ex. Donec volutpat ut augue a molestie. Nam porttitor dictum accumsan.</dd>
            <dt>Skills</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis condimentum purus, nec commodo nisi. Proin consectetur, dui id facilisis vehicula, lorem ante convallis arcu, quis consequat eros ipsum ac ex. Donec volutpat ut augue a molestie. Nam porttitor dictum accumsan.</dd>
            <dt>Networking</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis condimentum purus, nec commodo nisi. Proin consectetur, dui id facilisis vehicula, lorem ante convallis arcu, quis consequat eros ipsum ac ex. Donec volutpat ut augue a molestie. Nam porttitor dictum accumsan.</dd>
        </dl>
    </div>

    <div class="col-md-3">
        <img src="..\Images\!Logo.png" id="TRWLAImage" style="width:300px; height:400px;"/>
    </div>
</div>


<div class="footer">
    <a href="https://facebook.com"  data-toggle="tooltip" title="Facebook" class="icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey"  data-toggle="tooltip" title="Twitter" class="icon-button twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>
        <a href="https://instagram"  data-toggle="tooltip" title="Instagram" class="icon-button google-plus"><i class="fa fa-instagram" aria-hidden="true"></i><span></span></a>
    <a href="https://tuksreswomeninleadershipacademy.wordpress.com/"  data-toggle="tooltip" title="TWRLA Blog" class="icon-button blog"><i class="fa fa-book" aria-hidden="true"></i><span></span></a>
    <a href="https://tuksreswomeninleadershipacademy.wordpress.com/"  data-toggle="tooltip" title="Donations" class="icon-button donation"><i class="fa fa-usd" aria-hidden="true"></i><span></span></a>
</div>

<script src="https://use.fontawesome.com/dead28a296.js"></script>