
@{
    ViewBag.Title = "Network";
}
<div class="jumbotron">
    <h1>Relationships & Networking</h1>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Building a Network</h2>
        <p>
            The academy highly values relationships. The culture of cultivating positive relationships in all dimensions is evident throughout the academy. Peer –learning, mentorship, emotional intelligence and teamwork are all integrated into the functioning of the academy at all levels. We aim to provide a powerful network that can be used as a platform for young women to benefit from.<br><br>  
            The students of TRWLA are encouraged to build their relationships and widen their networks by engaging in the <span style="font-weight:bold">events</span>, <span style="font-weight:bold">workshops</span> and <span style="font-weight:bold">mentorship</span> provided by TRWLA.
</p>
        <h3>Events</h3>
        <p>
            TRWLA hosts a variety of guest speaker events throughout each academic year with the aim of cultivating students' skills and widening their network. Examples of guest speaker event themes include:
        </p>
        <ul>
            <li>Women in business.</li>
            <li>Women in education.</li>
            <li>Influential South African women.</li>
            <li>Reputation and branding.</li>
            <li>Vision as a leader.</li>
        </ul>
        <br>
        <h3>Workshops</h3>
        <p>
            TRWLA students are invited and encouraged to engage in interactive workshops such as:
        </p>
        <ul>
            <li>Gender Based Violence and Rape Workshop hosted in conjunction with <a href="https://www.powa.co.za/POWA/">POWA</a>.</li>
            <li>Public Speaking Workshop.</li>
            <li>Working World Workshop on CV Writing.</li>
        </ul>
        <p>
            In order to graduate, TRWLA students <span style="font-weight:bold">MUST</span> attend the Gender Based Violence Workshop <span style="font-weight:bold">AND</span> at least one other event.
</p>
        <h3>Mentorship</h3>
        <p>
            TRWLA Management takes the role of acting as mentors for the facilitators, whilst facilitators are tasked with building mentorship relationships with TRWLA students in the residences. The students of the academy will then have an opportunity to mentor the schoolgirls that they work with in the community service chapter. Mentorship and role modeling are taught as a skill in content lessons.
        </p>
        <br>
        <address>
            <strong><i class="fa fa-envelope-o fa-1x" style="color:violet"></i> For more information about events and networking contact:</strong>   <a href="mailto:events@trwla.co.za">events@trwla.co.za</a>
        </address>
    </div>
</div>

