
@{
    ViewBag.Title = "Skills";
}
<div class="jumbotron">
    <h1>Skills</h1>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Skills</h2>
        <p style="text-align:justify">
            Skills are taught in the 6 content lessons, guest speaker sessions and workshops throughout the year. These focus on business, leadership and life skills.<br><br>
            Each residence is assigned a facilitator who will carry out the 6 content lessons with her individual residence. Content lessons taught by the facilitators include topics such as:
            <ul>
                <li>
                    Who am I
                    <ul>
                        <li>How do I define myself in the context of university</li>
                        <li>Where do I fit in? (background, aspirations, involvement)</li>
                        <li>Personality</li>
                        <li>Where am I going?</li>
                        <li>Managing myself (time/life)</li>
                        <li>Self care</li>
                        <li>Self worth</li>
                        <li>Boundaries</li>
                    </ul>
                </li>
                <li>
                    Women in Society
                    <ul>
                        <li>Feminism</li>
                        <li>Diversity</li>
                        <li>Gender-based challenges (violence/ discrimination, a society where women empower women etc)</li>
                        <li>Confidence</li>
                        <li>Stereotypes</li>
                        <li>My story as a woman</li>
                        <li>Building support structures</li>
                        <li>What holds us back as women</li>
                    </ul>
                </li>
                <li>
                    Leadership Identity
                    <ul>
                        <li>Who I am as a leader</li>
                        <li>Preparing myself for leadership</li>
                        <li>Growing into leadership—knowing my leadership DNA</li>
                        <li>Opportunities for exposure and experience</li>
                    </ul>
                </li>
                <li>
                    Understanding Women in the Workplace
                    <ul>
                        <li>Women in business</li>
                        <li>Preparing for employment (preparing CV, branding, interview, job-seeking, opportunities)</li>
                        <li>Work skills</li>
                        <li>Budgeting</li>
                    </ul>
                </li>
            </ul>
        </p>
        <h2>Facilitators' Objectives</h2>
        <ul>
            <li>Enable a group to work more effectively; to collaborate and achieve synergy.</li>
            <li>Contribute structure and process to student interactions.</li>
            <li>Support students to do their best thinking.</li>
            <li>Strive for full participation from students.</li>
            <li>Promote mutual understanding and cultivate shared responsibility.</li>
            <li>Help and enable students to achieve exceptional performance.</li>
            <li>Act as a mentor to all TRWLA students.</li>  
        </ul>
        <address>
            <strong><i class="fa fa-envelope-o fa-1x" style="color:violet"></i> For more information about facilitators contact:</strong>   <a href="mailto:management@trwla.co.za">management@trwla.co.za</a>
        </address>
    </div>
</div>



