@{
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<hr>
<div class="container">
    <div class="span3">
        <center>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="~/Content/1498841323_user_female.svg" name="aboutme" width="140" height="140" class="img-circle"></a>
            <h3>Olewthu Khumalo</h3>
        </center>
    </div>
</div>


<div>
    <center>
        <div><button class="btn">Check Forgotten Password</button></div>
        <div class="dropdown-divider"></div>
<hr>
          <div><button class="btn">Deactivate Account</button></div>
        <hr>
        <div><button class="btn" data-toggle="modal" data-target="#myModal">Logout</button></div>
    </center>
    

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are You Sure?</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to be logged out of your account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Log out</button>

            </div>
        </div>
    </div>
</div>
