@{
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<hr>
<div class="container">
    <div class="span3">
        <center>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="~/Content/1498841323_user_female.svg" name="aboutme" width="140" height="140" class="img-circle"></a>
            <h3>Olewthu Khumalo</h3>
        </center>
    </div>
</div>

<div>
    <center>
        <div><button class="btn">Check Forgotten Password</button></div>
        <div class="dropdown-divider"></div>
<hr>
          <div><button class="btn">Deactivate Account</button></div>
        <hr>
        <div><button class="btn">Logout</button></div>
    </center>
    

</div>