
@{
    ViewBag.Title = "EnterUniCode";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>EnterUniCode</h2>

<input type="password"/>
<button>@Html.ActionLink("Enter", "Create", "Volunteers") </button>