
@{
    ViewBag.Title = "EnterUniCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>EnterUniCode</h2>
</div>


<input type="password"/>
<button>@Html.ActionLink("Enter", "Create", "Volunteers") </button>