@model TRWLASystemMaster.Models.VenueType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">

    <h2>Details on a venue type</h2>

</div>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VenueType_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueType_Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VenueTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>