
@{
    ViewBag.Title = "SelectVolStud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SelectVolStud</h2>

<button> @Html.ActionLink("Volunteer","Create", "Volunteers") </button >

<button> @Html.ActionLink("Student ", "Create", "Students") </button>