
@{
    ViewBag.Title = "SelectVolStud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Sign Up!</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>


<div>
    <h4> Please select whether you are signing up as Student or Volunteer.</h4>
</div>

<div data-toggle="tooltip" title="Become a volunteer"></div>
<button  type="button" class="btn" onclick="location.href='@Url.Action("VerifyCode", "Select")'" >Register as a Volunteer</button>

<div data-toggle="tooltip" title="Become a student">
    <button type="button" class="btn" onclick="location.href='@Url.Action("Register", "Account")'">Register as a Student</button>
</div>

@*onclick="location.href='@Url.Action("RegisterVol", "Account")'"*@
