
@{
    ViewBag.Title = "SelectVolStud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SelectVolStud</h2>

<button> @Html.ActionLink("Volunteer", "RegisterVol", "Account") </button >

<button> @Html.ActionLink("Student", "Register", "Account") </button>