
@{
    ViewBag.Title = "SelectVolStud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Sign Up!</h2>
</div>


<div>
    <h4> Please select whether you are signing up as Student or Volunteer.</h4>
</div>

<button type="button" class="btn" onclick="location.href='@Url.Action("VerifyCode", "Select")'" >Register as a Volunteer</button>

<button type="button" class="btn" onclick="location.href='@Url.Action("Register", "Account")'">Register as a Student</button>

@*onclick="location.href='@Url.Action("RegisterVol", "Account")'"*@
