
@{
    ViewBag.Title = "SelectVolStud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Sign Up!</h2>
</div>


<div>
    <h4> Please select whether you are signing up as Student or Volunteer.</h4>
</div>

<button class="btn" > @Html.ActionLink("Volunteer", "RegisterVol", "Account") </button >

<button class="btn"> @Html.ActionLink("Student", "Register", "Account") </button>