@model TRWLASystemMaster.Models.DB.UniqueCode
@{
    ViewBag.Title = "VerifyCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Verify Code</h1>

    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Your Unique Code:", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Verify"  class="btn" style="margin-top:10px;" />
    </div>
}