@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');

* {
    font-family: Arial;
    font-size: 15px;
    line-height: 1.7em;
    color: black;
    background-color: transparent;
}

p 
{
    text-align: justify;
    color: black;

}
a
{
    color: #4717f6;
}
a:hover
{
    color: #a239ca;
}
body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  color: black;
  background-color: white;
  padding-top: 60px;
  height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input
{
    background-color: white;
}

h1
{
    font-family: "Open Sans";
    color: black;
    font-size: 400%; 
    z-index:3;
    position:relative;
    background-color:transparent;
}

h2
{
    font-family: "Open Sans";
    color: black;
    font-size: 200%; 
    z-index:3;
    position:relative;
    background-color:transparent;
}

h3
{
    font-family: "Open Sans";
    /*color: #cb74f7;*/
    color: black;
    font-size: 20px;
}

h4
{
    font-family: "Open Sans";
    /*color: #cb74f7;*/
    color: black;
    font-size: 20px;
}

.h6 {
  font-family: Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

.icon-button {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white, white); /* Standard syntax */
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
    top: 50%;
    left: 0;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
    background: #3989e5; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #79b7ff , #3989e5); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #79b7ff , #3989e5); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #79b7ff , #3989e5); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #79b7ff , #3989e5); /* Standard syntax */
}
.facebook span {
    background: #3B5998; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #949eb4, #293e6a ); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #949eb4, #293e6a ); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #949eb4, #293e6a ); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #949eb4, #293e6a ); /* Standard syntax */
}
.google-plus span {
    background: #cd486b; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #cd486b, #a43955); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #cd486b, #a43955); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #cd486b, #a43955); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #cd486b, #a43955); /* Standard syntax */
}

.blog span{
    background: #fccc63; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #fde0a1 , #e2b759 ); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #fde0a1 , #e2b759 ); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #fde0a1 , #e2b759 ); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #fde0a1 , #e2b759 ); /* Standard syntax */
}

.donation span{
    background: #99cc66; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #add684  , #7aa351  ); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #add684  , #7aa351  ); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #add684  , #7aa351  ); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #add684  , #7aa351  ); /* Standard syntax */
}

/* Icons */
.icon-button i {
	background: none;
	color: black;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: relative;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button i:hover{
    color: white;
}
.icon-button .icon-twitter {
	color: #4099ff;
}

.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}

.navbar-fixed-bottom .dropdown .caret {
    border-top: 0 dotted;
    border-bottom: 4px solid black;
    content: "";
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffdb58;
    border-bottom-color: #ffdb58;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
    border: 1px solid white;
  }
}

.navbar-collapse {
  background-color: black;
  color: white;
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    border: 1px solid white;
            box-shadow: none;
  }
}

.navbar-default .navbar-text {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  padding-bottom:2em;
  border-bottom: solid 3px white;
  background-color: transparent;
  -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
}

.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #e7e7e7;
}

.navbar {
  color: white;
  background-color: black; 
  position: fixed;
  z-index: 1000;
  min-height: 50px;
  margin-bottom: 20px;
  border: none;
}

.navbar .container
{
    color:white;
    background-color: black;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  background-color: black; 
}

.navbar-default .navbar-nav > li > a:focus {
  color: white;
  padding-bottom:2em;
  border-bottom: none;
  background-color: black;
  -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
}

.navbar-default .navbar-nav > .active > a:focus {
  color: white; 
  background-color: black; 
}

.navbar-inverse {
  background-color: black;
  color: white;
  background-image: none;
}

.navbar-inverse .navbar-brand {
    font-family: 'Open Sans';
    font-size: 20px;
  position: relative;
  background-color: black;
  color: white;
}

.navbar-inverse .navbar-brand:hover
{
    color: white;
    background-color: black;
}
.navbar-inverse .navbar-brand:focus {
        color: white;
        background-color: black;

}
.navbar-inverse .navbar-nav > li > a:focus {
    -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
  background-color: black;
  padding-bottom:0.5em;
   color: white;
  border-bottom: none;
  background-color: black;
  
}

.nav.navbar-nav li a {
   display: inline-block;
   font-size: 16px;
   color: white;
   background-color: black;
 }
.navbar-toggle
{
    background-color: black;
    color: #ffdb58;
    border-color: #ffdb58;
}

.navbar-inverse .navbar-toggle
{
    background-color: black;
    color: #ffdb58;
    border-color: #ffdb58;

}

.nav .navbar-nav
{
    background-color: black;
}
/*Hover underline here*/
/*.nav.navbar-nav li a::after
{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}*/

.nav.navbar-nav li a:hover {
 font-weight: bold;
 color: white;
}
/*Make caret change colour on hover*/
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #4717f6;
  border-bottom-color: #4717f6;
}
.nav.navbar-nav li a > .fa{
 color: #ffdb58;

}
/*Make Icon in navbar pink on hover*/
.nav.navbar-nav li a:hover > .fa{
 color: #4717f6;

}
.nav.navbar-nav li a:hover::after {
    width: 100%;
    transition: width .3s;
}

.container > .navbar-collapse {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}
.nav.navbar-nav .dropdown-menu
{
    width: 400%;
    text-align: left;
}
.nav.navbar-nav .dropdown-menu > li > a:hover {
    color: #ffdb58;
    background-color: black;
}
.nav.navbar-nav .dropdown-menu > li > a::after
{
    content: '';
    display: block;
    width: 0;
    background: #000;
    transition: width .3s;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 200;
  line-height: 2.1428571435;
  text-align: left;
  z-index:100;
  background-color: transparent;
    
}

.jumbotron h1 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 55px;
    line-height: 1;
    color: black;
    background-color: transparent;
}

.jumbotron h2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 0px rgba(26, 3, 21, 1);
    background-color: transparent;
  line-height: 1;
  color: black;
}

.footer{
   width:100%;
   align-items:center;
   padding-left:25%;
   background-color: transparent;
}

.panel-footer {
  padding: 10px 15px;
  background-color: transparent;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}


.btn {
  /*text-shadow: 1px 1px 0px rgba(26, 3, 21, 1);
  -webkit-box-shadow: 0px 2px 0px rgba(86, 8, 125, 1), 0 6px 5px rgba(0, 0, 0, 0.3);
-moz-box-shadow:    0px 2px 0px rgba(86, 8, 125, 1), 0 6px 5px rgba(0, 0, 0, 0.3);
box-shadow:         0px 2px 0px rgba(86, 8, 125, 1), 0 6px 5px rgba(0, 0, 0, 0.3);*/
  background: white ;
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, white, white);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  font-family: Arial;
  color: black;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: none;
  text-decoration: none;
  border: solid black 2px;

  
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}

.btn:hover {
    
  color: black;
  background: #746db2;
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, white, white);
  border: solid purple 2px;
  text-decoration: none;
}


.form-control {
  display: block;
  width: auto;
  height: 40px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.428571429;
  color: black;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.caret {
    color: black;
    background-color: transparent;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  content: "";
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: black;
  color: black;
  border-color: #d48cf8;
  border-radius: 4px;
  box-shadow: none;
}

.navbar-header
{
    background-color: black;
    color: #F0EBF4;
}

.navbar-inverse .navbar-nav > .open > a:focus
{
    background-color: black;
}
.dropdown-menu > li {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: black;
  background-color: transparent;
  #F0EBF4-space: nowrap;
  border-color: #d48cf8;
}

.fa
{
    color:black;
    background-color: transparent;
}

.marginwrapper
{
    width:90%;
    margin: 0 auto;
}

.banner
{
    width: 100%;
}

.content
{
    display:flex;
    flex-direction:row;
    width:100%;
}

.sidebar
{
    width:20%;
    position: relative;
}

.contentbar{
    width: 80%;
}

.icon-bar 
{
    display:flex;
    flex-direction: column;
    position: absolute;
    bottom:5%;
    left:10%;
}

.icon-bar a
{
    display: block;
}

.icondiv
{
    padding:70px 0 0 0;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 40px;
    color:black;
    text-shadow:none;
    box-shadow:none;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
    border: 2px solid #666;
    color: #666;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: black;
    background: rgba(255,255,255,.1);
}

.btn-circle.btn-dark :hover,
.btn-circle.btn-dark :focus {
    outline: 0;
    color: #999;
    background:black;
}

.btn-circle.btn-dark :hover i,
.btn-circle.btn-dark :focus i{
    color: black;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
/*Home page bouncy arrow icon*/
.arrow-icon
{
    color: #4717f6;
    font-size: 300% !important;
}

/*Home page bouncy arrow*/
.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 1s infinite linear;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
.static-icon
{
    /*color:#c71585;*/ 
    color:  #4717f6;
    font-size:250% !important;
}

.email-icon
{
    color:#a239ca; 
    font-size:150% !important;
}

.col-md-4 h3
{
    text-align: center;
    background-color: transparent;
}

/* ===========================
--- Intro
============================ */

.intro {
	width:100% !important;
	position:relative;
	background: url(../Images/girls.jpg) no-repeat top center;
	background-size: cover;
}

#intro.intro {
	padding:20% 0 0 0;
}

.intro .slogan {
	text-align: center;

}

.intro .page-scroll {
	text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

.intro .slogan h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
	color: #fff;
	text-shadow: -1px 1px 1px #000;
}


.wrap {
  overflow: hidden;
}
.content {
  margin-top: 200px;
  margin-bottom: 200px;
  background: #ccc;
  padding: 30px 60px 400px 60px;
  position: relative;

}
.content:before {
  position: absolute;
  content: "";
  width: 3000px;
  height: 400px;
  background: #ccc;
  z-index: -1;
  transform: rotate(-10deg);
  left: 60%;
  top: -0;
  transform-origin: 0 0;
}
.content:after {
  position: absolute;
  content: "";
  width: 3000px;
  height: 400px;
  background: #ccc;
  z-index: -1;
  transform: rotate(10deg);
  right: 40%;
  top: 0;
  transform-origin: 100% 0;
}

.quote {
  background: 	#4717f6;
  color: #fff;
  position: relative;
  z-index: 1;
  opacity:10;
  opacity:0.9;
}
.quote:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(6deg);
  transform-origin: 80%;
  z-index: -3;
  opacity:10;
}   

.quote1 {
  background: #ffdb58;
  color: #fff;
  position: relative;
  z-index: 1;
  opacity:0.9;
}
.quote1:after {
 background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(13deg);
  transform-origin: 50%;
  z-index: -2;
}   

.quote2 {
  background: #a239ca;
  color: #fff;
  position: relative;
  z-index: 1;
  opacity:0.9;
}
.quote2:after {
 background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(15.5deg);
  transform-origin: 50%;
  z-index: -2;
  
}   

.quoteform {
  background: 	#4717f6;
  color: #fff;
  position: relative;
  z-index: 1;
  opacity:0.9;
}
.quoteform:before
{
  transform: skewY(-3deg);
  transform-origin: 60%;
  z-index: -3;
  margin-left:-110px;
  margin-right:-100px;
  opacity:4;
  opacity:0.9;
}

.quoteform:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(6deg);
  transform-origin: 80%;
  z-index: -3;
  margin-left:-110px;
  margin-right:-100px;
  opacity:4;
}   

.quote1form {
  background: #ffdb58;
  color: #fff;
  position: relative;
  z-index: 1;
  opacity:0.9;
}
.quote1form:after {
 background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(13deg);
  transform-origin: 50%;
  z-index: -2;
  
  margin-left:-110px;
  margin-right:-100px;
}   

.quote2form {
  background: #a239ca;
  color: #fff;
  position: relative;
  z-index: 1;
  opacity:0.9;
}
.quote2form:after {
 background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(15.5deg);
  transform-origin: 50%;
  z-index: -2;

  
  margin-left:-110px;
  margin-right:-100px;
  
}   


/*//HomePage*/
.quotehome {
  background: 	#4717f6;
  color: #fff;
  position: relative;
  z-index: 1;
  opacity:0.9;
}
.quotehome:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: 60%;
  z-index: -3;
  margin-left:-110px;
  margin-right:-100px;
  opacity:4;
}   

.quote1home {
  background: #ffdb58;
  color: #fff;
  position: relative;
  z-index: 1;
  opacity:0.9;
}
.quote1home:after {
 background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-4deg);
  transform-origin: 40%;
  z-index: -2;
  
  margin-left:-110px;
  margin-right:-100px;
}   

.quote2home {
  background: #a239ca;
  color: #fff;
  position: relative;
  z-index: 1;
  opacity:0.9;
}
.quote2home:after {
 background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-9deg);
  transform-origin: 50%;
  z-index: -2;

  
  margin-left:-110px;
  margin-right:-100px;
  
}   