@model IEnumerable<TRWLASystemMaster.Models.Usertype.Venue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h2>Venues</h2>
</div>


@*<p>
    @Html.ActionLink("Add a new Venue", "Create")
</p>*@

@* Search Button for Venue Name'*@
@using (Html.BeginForm())
{
    <p>
        Find by name: @*@Html.TextBox("SearchStringV")*@ <input style="border-radius:4px; width:300px; color:black; border-color:white" />
        <input type="submit" value="Search" class="btn btn-default btn-round" style="color:#9b16d8"/>
    </p>
}


<table class="table">
    <tr>
        <th>
         Name   @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
           Capacity @*@Html.DisplayNameFor(model => model.Capacity)*@
        </th>
        <th>
         Accessibility   @*@Html.DisplayNameFor(model => model.Accessibility)*@
        </th>
        <th>
          Street Number  @*@Html.DisplayNameFor(model => model.Address.StreetNumber)*@
        </th>
        <th>
          Suburb  @*@Html.DisplayNameFor(model => model.VenueType.Description)*@
        </th>
        <th>
           Province  @*@Html.DisplayNameFor(model => model.VenueType.Description)*@
        </th>
        <th>
           Venue Type  @*@Html.DisplayNameFor(model => model.VenueType.Description)*@
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {*@

    @* Record one *@
    <tr>
        <td>
          Roos Hall  @*@Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td>
          150  @*@Html.DisplayFor(modelItem => item.Capacity)*@
        </td>
        <td>
           None @*@Html.DisplayFor(modelItem => item.Accessibility)*@
        </td>
        <td>
            254 Lunnon Road  @*@Html.DisplayFor(modelItem => item.Address.StreetNumber)*@
        </td>
        <td>
            Hillcrest  @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>
        <td>
            Gauteng  @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>
        <td>
         Indoor   @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>


      
    </tr>

    @* Record 2 *@
    <tr>
        <td>
            Tuks Monate@*@Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td>
          200  @*@Html.DisplayFor(modelItem => item.Capacity)*@
        </td>
        <td>
           Highly accessible @*@Html.DisplayFor(modelItem => item.Accessibility)*@
        </td>
        <td>
          350 Lunnon Road  @*@Html.DisplayFor(modelItem => item.Address.StreetNumber)*@
        </td>
        <td>
          Hillcrest  @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>
        <td>
            Gauteng @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>
        <td>
          Indoor  @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>



    </tr>

    @* Record 3 *@
    <tr>
        <td>
          Ampitheatre  @*@Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td>
         500   @*@Html.DisplayFor(modelItem => item.Capacity)*@
        </td>
        <td>
          None  @*@Html.DisplayFor(modelItem => item.Accessibility)*@
        </td>
        <td>
            350 Lunnon Road @*@Html.DisplayFor(modelItem => item.Address.StreetNumber)*@
        </td>
        <td>
          Hatfield  @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>
        <td>
            Gauteng   @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>
        <td>
          Outdoor  @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>



    </tr>

    @* Record 4 *@
    <tr>
        <td>
        LC De Villers     @*@Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td>
          1000  @*@Html.DisplayFor(modelItem => item.Capacity)*@
        </td>
        <td>
          Wheelchair access  @*@Html.DisplayFor(modelItem => item.Accessibility)*@
        </td>
        <td>
            254 Lunnon Road   @*@Html.DisplayFor(modelItem => item.Address.StreetNumber)*@
        </td>
        <td>
          Hillcrest  @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>
        <td>
            Gauteng   @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>
        <td>
          Multipurpose  @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>



    </tr>

    @* Record 5 *@
    <tr>
        <td>
          Erica Rec Hall  @*@Html.DisplayFor(modelItem => item.Name)*@
        </td>
        <td>
            200 @*@Html.DisplayFor(modelItem => item.Capacity)*@
        </td>
        <td>
            Minimal @*@Html.DisplayFor(modelItem => item.Accessibility)*@
        </td>
        <td>
            254 Lunnon Road  @*@Html.DisplayFor(modelItem => item.Address.StreetNumber)*@
        </td>
        <td>
          Hatfield  @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>
        <td>
            Gauteng   @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>
        <td>
          Indoor  @*@Html.DisplayFor(modelItem => item.VenueType.Description)*@
        </td>



    </tr>
@*}*@

</table>

<div class="form-inline" style="float:right; margin-bottom:10px; margin-top:10px;">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                @Html.ActionLink("Add a New Venue", "Create", "VenueTypes", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
            </div>
        </div>
    </div>
     <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                @Html.ActionLink("Update", "Create", "VenueTypes", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default btn-round" data-toggle="modal" data-target="#Delete" style="color:#9b16d8">
                Delete
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">
            <div>
                @Html.ActionLink("Return", "Index", "Home", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
            </div>
        </div>
    </div>
</div>