@{
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<hr>

<h1>Event Popularity Report</h1>


<center>
    <button class="btn">Generate Report</button>
    <hr>

    <div id="chart_div" style="width:900px; height:400px"></div>
</center>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Functions', 'Lectures'],
          ['2017',  50,      45],
          ['2018',  75,      12],
          ['2019',  89,       78],
          ['2020',  100,      98]
        ]);

        var options = {
          title: 'Avg yearly attendance for events between 2017-2020',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0,title:"Average Attendance"}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
</script> 