@{
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<hgroup class="title">
    <h1>Check Forgotten Password</h1>
</hgroup>
<div>
    <p>
        Please answer the security quiestion below.
    </p>
</div>

<div>
    <h3>Security Question</h3>
    <p>
        What was the name of your third grade teacher
    </p>
</div>

<div class="col-sm-4">
    <div class="form-group form-group-no-border">
        <input type="text" value="" placeholder="Regular" class="form-control" />
    </div>
</div>

<div><button class="btn btn-round">Confirm</button></div>
