@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <hgroup class="jumbotron">
            <h1>Change Password</h1>
        </hgroup>
        
        <div class="form-group form-group-no-border">
          Email Address
                         <input type="email" value="" placeholder="Regular" class="form-control" required />
         
         
        </div>

        <div class="form-group form-group-no-border">
            Old Password
            <input type="password" value="" placeholder="Regular" class="form-control" />
        </div>

        <div class="form-group form-group-no-border">
            New Password
            <input type="password" value="" placeholder="Regular" class="form-control" />
        </div>
        <div class="form-group form-group-no-border">
            Confirm Password
            <input type="password" value="" placeholder="Regular" class="form-control" />
        </div>
        <div class="form-group">

            <button class="btn btn-round btn-round" data-toggle="modal" data-target="#myModal" style="color:#9b16d8">Change</button>
        </div>


    </div>
   
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Success</h4>
            </div>
            <div class="modal-body">
                Your password has been successfully Updated!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Confirm</button>

            </div>
        </div>
    </div>
</div>