@model TRWLASystemMaster.Models.Residence

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Residence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Res_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Res_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
