@{
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}
<hr>

<h1>Demographics Report</h1>


<center>
    <button class="btn">Generate Report</button>
    <hr>

    <div id="donutchart" style="width:900px; height:400px"></div>
</center>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Black', 11],
          ['White', 2],
          ['Coloured', 2],
          ['Indian', 2],
          ['Asian', 7]
        ]);

        var options = {
            title: 'Demographic make up of TWRLA Students',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }
</script>