
@{
    ViewBag.Title = "Testviewvol";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>Testviewvol</h2>

<div class="jumbotron">
    <h2>Register Volunteer</h2>

</div>

<h3>Register</h3>
<hr />

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <lable class="control-label col-md-2">Name</lable>
        <div class="col-md-10">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable class="control-label col-md-2"> Surname</lable>
        <div class="col-md-10">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable class="control-label col-md-2">Phone Number</lable>
        <div class="col-md-10">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable class="control-label col-md-2">Email Address</lable>
        <div class="col-md-10">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable class="control-label col-md-2">Date of Birth</lable>
        <div class="col-md-10">
            <input type="text" class="form-control date-picker" value="10/05/2016" data-datepicker-color="" />
        </div>
    </div>


    <div class="form-group">
        <lable class="control-label col-md-2">Volunteer Type</lable>
        <div class="col-md-10">
            <input type="text" value="" placeholder="Regular" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable class="control-label col-md-2">Residence</lable>
        <div class="col-md-10">
            <input type="text" value="NERINA" placeholder="Regular" class="form-control" />
        </div>
    </div>
